parameters:
    database_driver:   pdo_mysql
    database_host:     mysql42.local
    database_port:     ~
    database_name:     fluDoc
    database_user:     root
    #database_password: desarrollo
    database_password: produccion

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
