<table class='index'>
    <thead><tr>{% block titulos %}{% endblock %}</tr></thead>
    <tbody>{% block datos %}{% endblock %}</tbody>
</table>
{% block acciones %}{% include 'GeneralComunBundle:Public:_showAcc.html.twig' %}{% endblock %}
