{% extends "GeneralComunBundle::layout.html.twig" %}

{% block oJQ %}{% endblock %}
{% block header %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block cuerpo %}
<br /><br />
<center><h1>ACCESO DENEGADO</h1>
<br />
<img src="{{ asset('bundles/generalcomun/imagenes/accesoDenegado.jpg') }}" width='120' height='144' alt='Programa' />
<br /><br />
<h2>No tiene permiso para ver esta pagina</h2>
</center>
{% endblock %}
