{% extends "GeneralComunBundle::layout.html.twig" %} 

{% block cuerpo %}
<div class="grid_16">
    <br />
    <fieldset>
        <legend>Ayuda del Programa</legend>
        Contenido.
        1.-
        2.-
        3.-
        4.-
        5.-
        
    </fieldset>
</div><div class="clear"></div>
{% endblock %}
